// Place all the styles related to the descriptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-inner{
	padding-right: 0px;
	padding-left: 0px;
	overflow: hidden;
	padding-top: 4px;
	margin-bottom: 0px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;	
	-moz-border-radius-topright: 4px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;	
	-moz-border-radius: 4px;
	border-radius: 4px;
	border-color: #dfdfdf;
	border-style: solid;
	border-width: 1px;
	font-size: 1.5em;
	font-weight: 500;
}

/*=============================================================================
   New styles for roundtables
   ========================================================================== */

.venue_img-wrapper {
	float:left;
	img {
		float:left;
		box-shadow: 0 0 8px #444444;
		border: 2px solid #FFFFFF;
		margin-bottom: 5px;
	}
}	

.details-box {
	float:left;
	white-space:normal;
	width: 275px;
}

.roundtable-type-title {
	margin-bottom: 10px;
	font-size: 12px;
	font-weight: 400;
	h1 {
	font-size: 19px;
	text-align: left;
	font-weight: bold;
	}
}

.hosted-roundtable-details {
	font-size: 14px;
	text-align: left;
}	

