// Place all the styles related to the roundtables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$box-width: 700px;

.list-banner{
	width: $box-width;
	padding-right: 0px;
	padding-left: 10px;
	height: 40px;
	background-color: #F5E6F7;
	overflow: hidden;
	padding-top: 7px;
	margin-bottom: 0px;
	-webkit-border-top-right-radius: 4px;
	-khtml-border-radius-topright: 4px;	
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-khtml-border-radius-topleft: 4px;	
	-moz-border-radius-topleft: 4px;
	border-top-right-radius: 4px;
	border-color: #dfdfdf;
	border-style: solid;
	border-width: 1px;
	border-bottom: 0px;
	font-size: 1.5em;
	font-weight: 500;
}

/*=============================================================================
   New styles for roundtables
   ========================================================================== */

.entry{
	width: 700px; height:auto;
}

.roundtable-entry {float: left; width: 550px; height: 130px; margin-top: 10px; border-color: #dfdfdf; border-style: solid; border-width: 1px;}

.date-wrapper {
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 3px 3px 3px 3px;
	border-style: solid;
	border-width: 1px;
	border-color: #dfdfdf;
	box-shadow: 0 0 10px #00000;
	text-align: center;
	width: 70px;
	float: left;
	margin-top: 30px;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-left: 10px;
}

.date-wrapper span {
	color: #666666;
	display: block;
	padding:3px;
	text-align: center;
}

.month {
    background: none repeat scroll 0 0 #EEEEEE;
    border-bottom: 1px solid #CCCCCC;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #777777;
    padding-top: 5px;
    text-transform: uppercase;
	font-size: 80%;
}

.day-num{
	font-size: 180%;
    font-weight: bold;
    margin-top: 3px;
}

.day-text {
	margin-top: -10px;
	font-size: 70%;
}

.day {
	width:60px;
	height: 40px;
	background-color: #ddeeff;
	text-align: center;
	font-size: 1.8em;
	margin-left: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-khtml-border-radius-bottomright: 3px;	
	-moz-border-radius-bottomright: 3px;
	border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-khtml-border-radius-bottomleft: 3px;	
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-color: rgb(0,0,0);
	border-style: solid;
	border-width: 1px;
}

.host-box { 
	width: 110px;
	float: left; 
	margin-right:10px; 
	padding-top: 5px;
	padding-left: 5px;
	border-width: 1px;
	border-color: #ddeeff;
	border-style: dashed;
	text-align: center;
	font-size: 0.8em;
	line-height:1em;
	img {
		margin-top: 0px;
		margin-left: 0px;
		border-style: solid;
		padding: 2px;
		border-width: 1px;
		border-color: #dfdfdf;
	}
}
.event-box {
	float: left;
	width: 300px;
	margin-right: 10px;

}

.event-topic {
	width: 300px;
	line-height: 1.3em;
	font-size: 1.3em;
	font-weight: 500;
	padding-top: 5px;
}

.event-details {
	width: 300px;
	font-size: 1em;
	font-weight: 400;
	margin-bottom: 10px;
}

.confirmed-guests {
	width: 300px;
	margin-bottom: 0px;
	margin-top: 15px;	
 	img {
	float:left;
	margin-right: 1px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	}
}

.pay-box {
	float:left;
	width:auto;
}

.send-request {
	margin-top: 5px;
	margin-right: 5px;
}

.send-request button {
	padding: -2px;
	font-size: 0.8em;
	font-weight: 400;
}

.price {
	margin-right:5px;
	margin-top: 10px;
	padding:5px;
	text-align:center;
	font-size: 44px;
	font-weight: bold;
	line-height: 44px;
}

.price-modifier {
    color: #c0c0c0;
    font-size: 80%;
    padding-right: 14px;
    text-align: center;
}

  